.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: 1000;
}

.alert-dismissible {
  padding-right: 2.5rem;
}

.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1.25rem;
  color: inherit;
}


/* bbargang */
.alert-bbargang {
  background-color:#9e1f1f;
  border-color:#e745b7;
}

.alert-bbargang hr {
  border-top-color: led(#9e1f1f, 20%);
}


/* bora */
.alert-bora {
  background-color: #852985;
  border-color: #d19ad1;
}

.alert-bora hr {
  border-top-color: led(#852985, 20%);
}


/* chorok */
.alert-chorok {
  background-color: #01f57b;
  border-color: #77b875;
}

.alert-chorok hr {
  border-top-color: led(#f16d6d, 20%);
}


/* norang */
.alert-norang {
  background-color: #f5f542;
  border-color: #dddd9f;
}

.alert-norang hr {
  border-top-color: led(#f5f542, 20%);
}


/* gamjung */
.alert-hoesaek  {
  background-color: #676b67;
  border-color: #000000;
}

.alert-hoesaek  hr {
  border-top-color: led(#676b67, 20%);
}